<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('Layouts')%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST">
        <label for="name"> username </label> <br>
        <input type="text" name="name" class="form control" id=""> <br>
        <label for="password"> password </label> <br>
        <input type="text" name="password" class="form control" id=""><br>
        <input type="submit" class="btn btn-primary" name="" id="" value="Save">
    </form>
  </body>
</html>
